<header class="top-bar">
  <div class="nav-container">

    <div class="site-left">
      <img
        src="https://4fgmgbb8yd-cmyk.github.io/TSA-WEBSITE/assets/winterGardenLogo.webp"
        alt="Winter Garden logo"
        class="site-logo"
      >
      <div class="site-title">History of Our Local Area</div>
    </div>

    <nav class="site-right">
      <a href="index.html">Home</a>
      <a href="timeline.html">Timeline</a>
      <a href="people.html">Important People</a>
      <a href="landmarks.html">Landmarks</a>
      <a href="sources.html">Sources</a>
    </nav>

  </div>
</header>
